.featuredBox {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.profileBox {
  max-width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #e8e8e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar p {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 22px;
}

.name {
  text-align: center;
}
