.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.avatar i {
  font-size: 40px;
  color: #333;
}

.moreInfo {
  margin-top: 80px;
  text-align: center;
}

.moreInfo h5 {
  margin-bottom: 0;
}

.updateButton {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}
