.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar i {
  font-size: 40px;
  color: #333;
}

.moreInfo {
  margin-top: 80px;
}

.moreInfoSection {
  margin-left: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.moreInfo h5 {
  margin-left: 10px;
  margin-bottom: 0;
}

.iconAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #eee;
  border-radius: 50%;
}
